.apply {
  max-width: 500px;
  margin: 50px auto;
}

.apply input,
.apply textarea {
  width: 100%;
  padding: 12px;
  margin: 10px 0 20px;
  border-radius: 10px;
  border: 1px solid #ddd;
}

.apply button {
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
}

.apply form {
  display: flex;
  flex-direction: column;
}

.apply label {
  margin-top: 15px;
  margin-bottom: 5px;
  font-weight: bold;
}

.apply input,
.apply textarea {
  width: 100%;
  box-sizing: border-box;
  padding: 12px;
  margin: 0 0 10px;
  border-radius: 10px;
  border: 1px solid #ddd;
}
